/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1rem;
    font-weight: normal;
}

/* start of styling */
:root {
    --std-padding: 8px;
    --bg: #0d090a;
    --text: #eaf2ef;
    --primary: #4d6a6d;
    --secondary: #e54b4b;
    /* ratio of shadows (to keep the direction and proportions of light constant) 
     * On growth of shadow y by 1 shadow x grows by 1 */
    --shadow-x: 2px;
    --shadow-y: -1px;
    --shadow-blur: 8px;
    --shadow-color: white;
    --std-shadow: calc(var(--shadow-x) * 1) calc(var(--shadow-y) * 1)
        var(--shadow-blur) var(--shadow-color);
}

body {
    background: var(--bg);
    color: var(--text);
    cursor: default;
    font-family: "Atma", system-ui;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 3px;
    display: grid;
}

/* header section styling */
header {
    padding: 20px 40px;
    display: flex;
}

.title {
    flex: 1;
}

.title .name {
    padding: var(--std-padding) 0;
    font-size: 2rem;
    font-family: "Fontdiner Swanky", serif;
    font-weight: 400;
    font-style: normal;
}

.desc {
    position: relative;
    transition: color 1s;
}

.desc:hover {
    color: var(--bg);
}

.desc::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--text);
    transform: translateX(-150vw);
    transition: transform 1s;
}

.desc:hover::before {
    transform: translateX(-8px);
}

/* main section styling */
main {
    display: grid;
    place-items: center;
    padding-bottom: 20px;
}

.memory-cards {
    max-width: 660px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

@media (max-width: 500px) {
    .memory-cards {
        max-width: 350px;
    }
    header {
        flex-direction: column;
    }

    .scoreboard::before {
        content: "";
        display: block;
        height: 2px;
        background-color: var(--text);
        margin: 8px 0;
    }
}

.card {
    background: grey;
    position: relative;
    border-radius: 8px;
    transition: transform 0.2s;
    border-left: 8px solid var(--secondary);
}

.card:hover {
    box-shadow: var(--std-shadow);
}

.card:active {
    transform: scale(0.9);
}

.card img {
    width: 100%;
}

.card .name {
    bottom: 10px;
    text-align: center;
}
